# Data Science Tools and Ecosystem

## In this notebook Data Science tools and Ecosystem are summrized

## Objectives:
- Python
- SQL
- Numpy
- Hadoop
- R

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. seaborn
5. scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|JupyterLab|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = minutes/60
print(hour)

3.3333333333333335

## Author
Faheem Ur Rehman